* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Montserrat";
  font-size: 15px;
  line-height: 1.8;
  font-weight: 300;
  /* color: gray; */
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  display: block;
}

.orange {
  color: #ce9c6b;
}

.barra {
  max-width: 190px;
  height: 2px;
  margin: auto;
  background-color: #686868;
  position: relative;
  margin-bottom: 40px;
}

.circulo {
  width: 10px;
  height: 10px;
  background-color: white;
  border: 1px solid black;
  border-radius: 100%;
  position: absolute;
  left: calc(50% - 5px);
  top: calc(50% - 5px);
}

.old-container {
  max-width: 1200px;
  padding: 0 50px;
  margin: auto;
  height: 100%;
  display: flex;
}

.container {
  width: 80%;
  max-width: 1200px;
  margin: auto;
}

.fade-up,
.fade-down,
.fade-left,
.fade-right {
  visibility: hidden;
}

/* Header --------------------------------------------------------- */

header {
  position: absolute;
  top: 35px;
  left: 0;
  right: 0;
}

.header-container {
  justify-content: space-between;
}

.header-logo-img-container {
  width: 135px;
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  padding-right: 30px;
}

.logo-background {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -1000px;
  right: 0;
  background-color: #0044ff;
  z-index: -1;
}

.nav-link {
  font-size: 14px;
  font-weight: 700;
  color: #ffffffb3;
  padding: 24px 20px;
}

.nav-link:hover {
  color: #ce9c6b;
}

/* Home ------------------------------------------------------------- */

#home {
  height: 100vh;
  background-image: url("./assets/img/camiones-aerea.jpg");
  background-size: cover;
  background-attachment: fixed;
  /* margin-bottom: 80px; */
}

.home-content {
  max-width: 700px;
  margin: auto 0;
}

.home-content__subtitle {
  font-size: 20px;
  line-height: 1.5;
  font-weight: 700;
  color: #ffffffcc;
  margin-bottom: 1rem;
}

.home-content__hero-message {
  font-size: 50px;
  color: white;
  margin-bottom: 48px;
  font-weight: 400;
  line-height: 1.2;
}

.btn {
  background-color: #161616;
  color: white;
  padding: 16px 24px;
  border-radius: 4px;
  font-size: 13px;
}

/* Quienes Somos ----------------------------------------------------- */

#quienes-somos {
  background-color: #ededed;
  padding: 20px 0 50px 0;
}

.section-header {
  font-weight: 400;
  font-size: 36px;
  text-align: center;
  margin-bottom: 15px;
}

.section-text {
  font-size: 12px;
  line-height: 24px;
}

/* Nuestros Clientes ------------------------------------------------- */

#nuestros-clientes {
  padding: 55px 0 35px 0;
}

.clientes-logos {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cliente-logo {
  width: initial;
  margin: 0 20px 30px 20px;
}

/* Servicios --------------------------------------------------------- */

#servicios {
  padding: 30px 0 50px 0;
  background-color: #ededed;
}

.section-title-2 {
  font-size: 25px;
  color: black;
  text-align: center;
  visibility: hidden;
}

.section-subtitle {
  font-family: "DM Serif Text";
  color: black;
  text-align: center;
  font-size: 14px;
  margin-bottom: 45px;
}

.servicios-grid {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  color: white;
  font-family: "Titillium Web";
}

.servicio-block {
  width: 30%;
  margin: 5px 5px;
  border-radius: 16px;
  overflow: hidden;
  background-color: black;
  transition: all 0.5 ease-in-out;
}

.servicio-block:hover .overlay {
  opacity: 0.6;
}

.servicio-block:hover .servicio-descripcion {
  max-height: 400px;
  padding: 14px 10px;
}

.servicio-img-container {
  position: relative;
}

.overlay {
  background-color: black;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.servicio-nombre-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.servicio-nombre {
  text-align: center;
  color: white;
  font-size: 24px;
  line-height: 1.2;
  font-weight: 600;
  text-transform: uppercase;
}

.arrow-container {
  width: 16px;
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, 0);
}

.servicio-descripcion {
  max-height: 0;
  transition: all 0.5s ease-in-out;
}

.servicio-descripcion p {
  text-align: center;
  font-size: 12px;
  line-height: 1.5;
}

/* .servicios-tipos {
  height: auto;
  flex-wrap: wrap;
}

.servicio-tipo-lg {
  width: 100%;
  position: relative;
}

.servicio-tipo-xs {
  width: 33%;
  position: relative;
}

.servicio-tipo-sm {
  width: 50%;
  position: relative;
}

.servicio-tipo-nombre {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 40px;
  line-height: 1;
  font-weight: 900;
  text-transform: uppercase;
}

.italic {
  font-style: oblique;
} */
